<!doctype html>
<html lang="en">
    <head>
        <title>A Braintree Dropin Payments Example</title>
        <script src="https://js.braintreegateway.com/js/beta/braintree-hosted-fields-beta.17.min.js"></script>
        <script src="/public/jquery.min.js"></script>
        <link rel='stylesheet' href='/public/components/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/public/components/bootstrap/dist/css/custom.css'>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>